<div class="center hero-unit">
  <h1>About the project</h1>

  	<p>LearnProgramming is an organization that grew out of the subreddit /r/learnprogramming, our aim is to provide a set of 'hackable' projects for beginners to contribute to in a open, encouraging atmosphere.</p>

<p>In many cases, it seems, new programmers feel daunted by the task of contributing to open source, they don't know what to do, how to write code that meets standards, or how to really contribute in an effective way to open source projects. This organization intends to provide a playground, staffed by the best and brightest self-elected members of the /r/programming community, where the new open source contributor can cut their teeth; contributing to real projects used in the real world, without fear of reproach or denial due to their beginner status.</p>
</div>