<div class="center hero-unit">
  <h1>Welcome to the LPMC site</h1>

  <h2>
    This is the home page for the <a href="https://github.com/LearnProgramming">LPMC</a> project.
  </h2>
</div>
<center>
	<%= image_tag("Reddit-alien.png", alt: "") %>
</center>