<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Home", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    'home' %></li>
              <li><%= link_to "About",    'about' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>